[submodule "vendor/MetasequoiaImeEngine"]
	path = vendor/MetasequoiaImeEngine
	url = https://github.com/metasequoiaime/MSIME-Engine.git
	branch = master
[submodule "vendor/MetasequoiaImeDict"]
	path = vendor/MetasequoiaImeDict
	url = https://github.com/metasequoiaime/MSIME-Dict.git
[submodule "vendor/MetasequoiaImeHelpCode"]
	path = vendor/MetasequoiaImeHelpCode
	url = https://github.com/metasequoiaime/MetasequoiaImeHelpCode.git
