[submodule "vendor/MetasequoiaImeEngine"]
	path = vendor/MetasequoiaImeEngine
	url = https://github.com/houko/MetasequoiaImeEngine.git
	branch = feat/linux-desktop-core
[submodule "vendor/MetasequoiaImeDict"]
	path = vendor/MetasequoiaImeDict
	url = https://github.com/metasequoiaime/MetasequoiaImeDict.git
[submodule "vendor/MetasequoiaImeHelpCode"]
	path = vendor/MetasequoiaImeHelpCode
	url = https://github.com/metasequoiaime/MetasequoiaImeHelpCode.git
